---
http_interactions:
- request:
    method: post
    uri: https://cognito-idp.eu-central-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ClientId":"78vf8tsuipphs7ptbs2i2ijjeg","AuthFlow":"REFRESH_TOKEN_AUTH","AuthParameters":{"REFRESH_TOKEN":"regular
        string","SECRET_HASH":null}}'
    headers:
      X-Amz-Target:
      - AWSCognitoIdentityProviderService.InitiateAuth
      Content-Type:
      - application/x-amz-json-1.1
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 47e87010-4907-40dc-8a14-441341ce26d5
      X-Amzn-Errortype:
      - 'NotAuthorizedException:'
      X-Amzn-Errormessage:
      - Invalid Refresh Token
    body:
      encoding: ASCII-8BIT
      string: '{"__type":"NotAuthorizedException","message":"Invalid Refresh Token"}'
  recorded_at: Fri, 17 Jul 2020 14:02:36 GMT
recorded_with: VCR 6.0.0
